description = "Default layout"
==

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Matthew Bryson - Freelance Web Developer Sunderland, Newcastle, Uk</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,800,900&display=swap" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.min.css" rel="stylesheet">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128394136-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128394136-1');
  </script>
</head>

<body id="page-top">

    {% partial 'nav' %}

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Matthew
          <span class="text-primary">Bryson</span>
        </h1>
        <hr>
        <h3 class="mb-0">FREELANCE
          <span class="text-primary">WEB DEVELOPER</span>
        </h3>
        <div class="subheading mb-5">SUNDERLAND, UK. - 07500894594 - matthew@mbryson.co.uk
        </div>
        <p class="lead mb-5">Freelance Web developer based in Sunderland, with over 7 years experience working in and alongside agencies. Usually found working with Node, Laravel, OctoberCMS, WordPress or Shopify.</p>
        <p class="lead mb-5">Looking for new contracts starting in <b>November 2020</b>. I can work solely on projects or alongside existing teams to provide additional support during busy periods.</p>
        
        <p class="lead mb-5">Please contact me on <a href="tel:07500894594">07500 894 594</a> or <a href="mailto:matthew@mbryson.co.uk">matthew@mbryson.co.uk</a> to chat</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/matthewbrysonuk/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a target="_blank" href="https://github.com/mbryson91">
            <i class="fab fa-github"></i>
          </a>
          <!-- <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a> -->
        </div>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="october">
      <div class="w-100">
      <h2 class="mb-0" id="octobercms">October<span class="text-primary">CMS</span> Support & Maintenance</h2>
      <div class="subheading mb-5">
      </div>
      <hr>
      <p class="lead mb-5">If you have an <b>OctoberCMS</b> site already, but need support to keep it up to date and secure, I can help.</p>
      <p class="lead mb-5">I can help run regular updates, make ad hoc changes or add new features, either working alone or as part of a team.</p>
      <p class="lead mb-5">Please contact me on <a href="tel:07500894594">07500 894 594</a> or <a href="mailto:matthew@mbryson.co.uk">matthew@mbryson.co.uk</a> to chat</p>
    </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="agency">
      <div class="w-100">
      <h2 class="mb-0" id="agencysupport">Agency Support</h2>
      <div class="subheading mb-5">Extra capacity for your team when you need it
      </div>
      <hr>
      <p class="lead mb-5">Missing Developer? tight deadline? not enough developers to meet demand?</p>
      <p class="lead mb-5">I can work on a project or ad hoc basis to support your company with its developer requirements. Wether its a new project you don't have the time to build or lack of skills for a particular jobs</p>
      <p class="lead mb-5">I am a full stack developer and can work in HTML, CSS, JavaScript and PHP. I commonly use Laravel, OctoberCMS, WordPress and Node.</p>
      <p class="lead mb-5">Please contact me on <a href="tel:07500894594">07500 894 594</a> or <a href="mailto:matthew@mbryson.co.uk">matthew@mbryson.co.uk</a> to chat</p>
    </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="analytics">
      <div class="w-100">
      <h2 class="mb-0" id="analyticstagmanager">Freelance <span style="color:#F57E02">Google Analytics</span> & <span style="color:#4182ef">Google Tag Manager</span> Support</h2>
      <div class="subheading mb-5">

      </div>
      <hr>
      <p class="lead mb-5">I have a great deal of experience working in Google Analytics and Google Tag Manager, from initial configurations to ecommerce setup, enhanced ecommerce, custom tracking and data analysis.</p>
      <p class="lead mb-5">I can help you figure out just how accurate your data is, diagnose dodgy bounce rates, debug configuration issues and advise on best methods for implementing tracking on your sites.</p>
      <p class="lead mb-5">Please contact me on <a href="tel:07500894594">07500 894 594</a> or <a href="mailto:matthew@mbryson.co.uk">matthew@mbryson.co.uk</a> to chat</p>
    </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="work">
      <div class="w-100">
      <h2 class="mb-0" id="mywork">My Work</h2>
      <div class="subheading mb-5">SUNDERLAND, UK. - 07500894594 - matthew@mbryson.co.uk
      </div>
      <hr>
      <p class="lead mb-5">NDA! - I usually work with other agencies, which means I have to be discreet with the work I do. I have a selection of projects I have completed that I can share upon request.</p>
      <p class="lead mb-5">You can view my testimonials on my Linkedin Profile:</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/matthewbrysonuk/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        </div>
    </div>
    </section>


  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
